* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: #ddd;
    padding: 20px;
}

.utama {
    background-image: url(img/ornament3.jpg);
    background-size: cover;
    opacity: 0.6;
    padding: 20px;
    text-align: center;
}
.utama h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4em;
    font-weight: bold;
}
.utama p {
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}


/* Rencana */
.rencana {
    margin-top: 10px;
    background-image: url(img/ornamen1.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.rencana .gambar, .rencana .lokasi, .rencana .donasi {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.rencana .gambar img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid white;
}

.rencana .gambar a, .rencana .lokasi a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    margin-top: 1px;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.6;
}
.rencana .lokasi p, .donasi p{
    margin-bottom: 10px;
}
.rencana .donasi span {
    font-size: 1.3em;
}
.rencana .donasi img {
    width: 80%;
}

@media (max-width: 500px) {
    .utama h1 {
        font-size: 2em;
    }
    .utama p {
        font-size: 1em;
    }
}
